<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="glyphicon glyphicon-th-list"></span>   Sections <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for section in sections %}
            <li><a href="{{path('section_show',{'id':section.id})}}">{{section.name}}</a></li>
            {%endfor%}
    </ul>
</li>
