/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2014, 5:07:27 PM
    Author     : Salma
*/

.cart-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.cart { font-size: 16px; }
form.cart div { clear: left; margin-bottom: 10px; }
form.cart label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.cart input[type="text"],
form.cart input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.cart textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
form.cart input[type="submit"] { margin-left: 110px; width: 508px; line-height: 26px; font-size: 20px; min-height: 26px; }
form.cart ul li { color: #ff0000; margin-bottom: 5px; }

.date { margin-bottom: 20px; border-bottom: 1px solid #ccc; font-size: 24px; color: #666; line-height: 30px }
.cart { margin-bottom: 20px; }
.cart img { width: 190px; float: left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0; }
.cart .meta { clear: left; margin-bottom: 20px; }
.cart .snippet p.continue { margin-bottom: 0; text-align: right; }
.cart .meta { font-style: italic; font-size: 12px; color: #666; }
.cart .meta p { margin-bottom: 5px; line-height: 1.2em; }
.cart img.large { width: 300px; min-height: 165px; }

.products_item {
	overflow: hidden;
	position: relative;
	background: #fff;
	
	margin: 10px 5px;
	border: 1px #EBEBEB solid;
	box-shadow: 0 0 8px -5px black;
}
.products_item .details:after {
	border-bottom-color: #f5f5f5;
	border-width: 10px;
	left: 20px;
	top: -20px
}